body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;
    padding: 0;
    
}

h1, h2, h3, h4, h5, p {
    color: seashell;

}

header {
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 69px;
    border-bottom: 1px solid seashell;
    width: 100%;
    background-color: inherit;
    opacity: inherit;

    z-index: 100;
}

header img {
    height: 50px;
    margin-left: 10px;
    
}

header ul {
    position: absolute;
    margin-right: 5px;
    right: 10px;
  
}

header ul li {
    display: inline;
    margin: 0 5px;
    text-decoration: underline;
   
}

main {
    margin-top: 70px;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#mission {
    
    width: 100%;
    background-color: inherit;
    
    
}

#mission img{
    height: 700px;
    height: 100%;
    
    background-color: inherit;
}

#mission div {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    
    background-color: inherit;
   
}

#mission div h2 {
    
    text-align: center;
    margin: 0;
    padding: 5px;
    
}

#mission div h4 {
    
    text-align: center;
    margin: 0;
    padding: 5px;
    
}

#tea-of-month {
    width: 1000px;
    
    
}

#tea-of-month img{
    height: 200px;
    width: 300px;
}

#flex-imgs {
    display: inline-flex;
    flex-flow: wrap;
    
    gap: 50px;
    justify-content: center;
    
}

#locations {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    height: 500px;
    
    position: relative;
    align-items: center;
    overflow: hidden;
}

#locations img {
    
    width: 100%;
    
}

#locations h2 {
    position: absolute;
    top: 50px;

   
    margin: 0;
}

#container {
    position: absolute;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 40px;
    top: 105px;
    
}

.indiv {
    width: 300px;
   
    padding: 0;
    margin: 0;
    background-color: black;
    opacity: 1;
}

.indiv h3 , .indiv p{
    margin: 0;
    
    padding-top: 20px;
    padding-bottom: 20px;


}

footer {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    height: 200px;
    width: 100%;

}

footer h2 {
    
    margin: 0;
    margin-top: 20px;
    margin-bottom:20px;
}

footer h5 {
    margin: 0;
    margin-bottom: 15px;
}

#cr {
    margin:0;
    
    width:100%;
    bottom: 0;
    left: 20px;
}

#cr h5 {
    text-align: left;
    margin-left: 20px;
}
