* {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

nav{
    
    position: fixed;
    display: flex;
    align-items: center;
    
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    
}

ul {
    list-style: none;
    position: absolute;
    right: 2%;
    
    
}

li {
    display: inline;
    text-decoration: underline;
    padding: 10px;
}

nav img {

    justify-content: left; 
    height: 50px; 
    left: 10px;
}

